.navStyle {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	margin-bottom: 0;
	border:0;
}
.logoStyle{
	height: auto;
	width: 100px;
}
.containerVariation {
	max-width: 100%;
}
.principalFT {
	background-image: url("../assets/images/taxi.jpg");
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	box-sizing: border-box;
	height: 550px;
}
.square{
	background-color: #FFC107;
	height: 50%;
	width: 45%;
	margin-top: 15%;
	color: white;
	padding: 15px;
}
.whiteLogo{
	margin-left: 10px;
	height: auto;
	width: 70px;
}

.btn {
	border-radius: 5px;
	box-shadow: none;
}
.btnOne{
	margin-top: 20px;
}
.principalST{
	background-color: #FFC107;
}
.space{
	margin-left: 10px;
}
.row {
	margin-bottom: 0;
}
.bordersquare{
	border:1px solid white;
	width: 80%;
	height: 80%;
}
.blockCenter{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.principalTS{
	background-image: url("../assets/images/conduce.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 100%;
	height: 250px;
	box-sizing: border-box;
	padding: 0;
}
.boxContent {
	background-color: rgba(0, 0, 0, 0.342);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	color: white;
	padding: 20px;
	padding-top: 30px;
}
.whitebtn{
	background-color: #FFC107;
	color: white;
	margin-top: 10px;
}
.minusbolder{
	font-weight: 100;
}
h5{
	margin:0;
}
.fourSection{
	background-color: #FFC107;
	color: white;
	padding: 20px;
}
.mapview {
	margin: 10px 1%;
	width: 95%;
	height: 300px;
	border: 0;
	border: 1px solid white;
	padding: 5px;
}
.formStyle{
	width: 50%;
}

input{
	width: 50%;
}
.footerSection{
	box-sizing: border-box;
	padding: 10px;
	background-color: #2B2B2B;
	color: white;
}
.footerSection hr{
	width: 95%;
	border: 1px solid white;
	margin: 5px;
}
.footerSection .logo{
	height: 20px;
	margin:0;
}

.items a{
	display: block;
	margin: 5px;
}
.social a, .items a{
	color: white;
}
.social a{
	margin: 5px;
}
/* algunas modificaciones solo en mobile */
@media only screen and (max-width: 600px){
	/* mobile */
	.social{
		float: right;
	}
	.items{
		float: left;
	}
	.buttonMedia{
		float: right;
	}
	.buttonMedia img{
		margin-top: 10px;
		width: 130px;
		height: auto;
		display: block;
	}
	.hideObject{
		display: none;
	}
	.principalFT{
		height: 350px;
	}
	.square {
		background-color: #FFC107;
		height: 60%;
		width: 75%;
		margin-top: 15%;
	}
}
